<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/css/style.css' />
</head>
<body>
	<span><img src="/images/logo.jpg"><div class="maintitle"><h1>SERLER</h1></div></span>
	
	<div id="app">
		
	</div>

	<script src="/js/bundle.js"></script>
</body>
</html>
