body {
  	padding: 50px;
  	font-size: 14px;
  	font-family: 'comic sans';
  	color: #fff;
  	background-image: url(../images/bg.jpg);
  	background-size: cover;
}

button {
	outline: none;
	cursor: pointer;
}

.container {
	position: absolute;
	top: 15%;
	right: 15%;
	width: 400px;
	height: 475px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 20px;
	border: 1px solid #666;
	border-radius: 5px;
	box-shadow: 5px 5px 20px #000;
	background: rgba(60,60,60,0.3);
}

.header h2 {
	padding: 0;
	margin: 0;
	font-size: 25px;
	text-align: center;
	letter-spacing: 1px;
}

.todoForm {
	margin: 20px 0 30px 0;
}

.todoContent {
	display: block;
	width: 380px;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 3px;
}

.tooltip {
	display: inline-b lock;
	font-size: 14px;
	font-weight: bold;
	color: #FF4A60;
}

.todoItem {
	margin-bottom: 10px;
	color: #333;
	background: #fff;
	border-radius: 3px;
}

.todoItem p {
	position: relative;
	padding: 8px 10px;
	font-size: 12px;
}

.itemTime {
	position: absolute;
	right: 40px;
}

.delBtn {
	display: none;
	position: absolute;
	right: 3px;
	bottom: 2px;
	background: #fff;
	border: none;
	cursor: pointer;
}

.todoItem p:hover .delBtn {
	display: block;
}

.delBtn img {
	height: 20px;
}