body {
  	padding: 50px;
  	font-size: 14px;
  	font-family: 'comic sans';
  	color: #fff;
  	background-image: url(../images/bg.jpg);
  	background-size: cover;
}

button {
	outline: none;
	cursor: pointer;
}

/* .container {
	position:absolute;
	top: 15%;
	left: 1%;
	width: 400px;
	height: 475px;
	
	border: 1px solid #666;
	border-radius: 5px;
	box-shadow: 5px 5px 20px #000;
	background: rgba(60,60,60,0.3);
} */

.container2 {

	position:absolute;
	top: 15%;
	left: 450px;
	width: 800px;
	height: 475px;

	border: 1px solid #666;
	border-radius: 5px;
	box-shadow: 5px 5px 20px #000;
	background: rgba(60,60,60,0.3);
}

.searchcondition {
	position:absolute;
	width: 36.2%;
	height: 75%;
	left: 2%;
	border: 1px solid #666;
	border-radius: 5px;
	box-shadow: 5px 5px 20px #000;
	background: rgba(60,60,60,0.3);
}

.searchresult {
	position:absolute;
	width: 60.8%;
	height: 75%;
	left: 38.4%;
	border: 1px solid #666;
	border-radius: 5px;
	box-shadow: 5px 5px 20px #000;
	background: rgba(60,60,60,0.3);
}
h1{	
	font-size: 55px;
}
.layer {
	float: none;
	align-items:center;
	margin-top: 2px;
	height: 15%;
}

.maintitle{
	float: right;
}
.logo{
	margin-top: -40px;
}

.yeartext {
	Float: left;
	margin-left:-40px;
	width: 30%;
	height: 35%;
}
.yeartext2 {
	Float: left;
	margin-left:-56px;
	width: 30%;
	height: 35%;
}

.divyear {
	Float: left;
	margin-Left: 5%;
	width: 20%;
}
.divyear2 {
	Float: left;
	margin-Left: 8%;
	width: 20%;
}

.ifsection {
	margin-left: 5%;
	height: 50%;
	width: 20%;
}

.iftext {
	margin-left: 5%;
	height: 35%;
	width: 30%;
}

.ifbutton {
	margin-left: 2px;
	height: 55%;
	width: 5%;
}
.searchbutton {
	margin-left: 45.5%;
	height: 55%;
	width: 25%;
}
.savebutton {
	margin-left: 1%;
	height: 55%;
	width: 25%;
}

.conditiontitle {
	margin-left: 5%;
	margin-right: 10%;
}

.header h2 {
	margin-left: 5%;
	font-size: 25px;
	text-align: center;
	letter-spacing: 1px;
}

.todoForm {
	margin: 20px 0 30px 0;
	width: 99%;
	height: 40%;
}

.todoContent {
	width: 380px;
	padding: 10px;
	margin-top: 20px;
	border: none;
	border-radius: 3px;
}

.tooltip {
	display: inline-b lock;
	font-size: 14px;
	font-weight: bold;
	color: #FF4A60;
}

.todoItem {
	margin-bottom: 10px;
	color: #333;
	background: #fff;
	border-radius: 3px;
}

.todoItem p {
	position: relative;
	padding: 8px 10px;
	font-size: 12px;
}

.itemTime {
	position: absolute;
	right: 40px;
}

.delBtn {
	display: none;
	position: absolute;
	right: 3px;
	bottom: 2px;
	background: #fff;
	border: none;
	cursor: pointer;
}

.todoItem p:hover .delBtn {
	display: block;
}

.delBtn img {
	height: 20px;
}